<mat-toolbar color="primary">
  <span>{{title}}</span>
  <a routerLink="/home" mat-button>Home</a>
  <a routerLink="/admin" mat-button>Admin page</a>
  <a routerLink="/user" mat-button>User page</a>
  <div [hidden] = "isAuthenticated()">
    <button mat-icon-button (click)="login()">
      <mat-icon>person_outline</mat-icon>
    </button>
  </div>
  <div [hidden] = "!isAuthenticated()">
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>



